In [2]:
import pandas as pd

In [3]:
d=pd.read_csv("data.txt", names=["BI_RADS", "Age", "Shape", "Margine","Density","Severity"],na_values=['?'])

In [4]:
d.head()

   BI_RADS   Age  Shape  Margine  Density  Severity
0      5.0  67.0    3.0      5.0      3.0         1
1      4.0  43.0    1.0      1.0      NaN         1
2      5.0  58.0    4.0      5.0      3.0         1
3      4.0  28.0    1.0      1.0      3.0         0
4      5.0  74.0    1.0      5.0      NaN         1

In [5]:
d.count()

BI_RADS     959
Age         956
Shape       930
Margine     913
Density     885
Severity    961
dtype: int64

In [6]:
d.describe()

          BI_RADS         Age       Shape     Margine     Density    Severity
count  959.000000  956.000000  930.000000  913.000000  885.000000  961.000000
mean     4.348279   55.487448    2.721505    2.796276    2.910734    0.463059
std      1.783031   14.480131    1.242792    1.566546    0.380444    0.498893
min      0.000000   18.000000    1.000000    1.000000    1.000000    0.000000
25%      4.000000   45.000000    2.000000    1.000000    3.000000    0.000000
50%      4.000000   57.000000    3.000000    3.000000    3.000000    0.000000
75%      5.000000   66.000000    4.000000    4.000000    3.000000    1.000000
max     55.000000   96.000000    4.000000    5.000000    4.000000    1.000000

In [7]:
d.isnull().sum()

BI_RADS      2
Age          5
Shape       31
Margine     48
Density     76
Severity     0
dtype: int64

In [8]:
d.drop(columns=["BI_RADS"],axis=1)

      Age  Shape  Margine  Density  Severity
0    67.0    3.0      5.0      3.0         1
1    43.0    1.0      1.0      NaN         1
2    58.0    4.0      5.0      3.0         1
3    28.0    1.0      1.0      3.0         0
4    74.0    1.0      5.0      NaN         1
5    65.0    1.0      NaN      3.0         0
6    70.0    NaN      NaN      3.0         0
7    42.0    1.0      NaN      3.0         0
8    57.0    1.0      5.0      3.0         1
9    60.0    NaN      5.0      1.0         1
10   76.0    1.0      4.0      3.0         1
11   42.0    2.0      1.0      3.0         1
12   64.0    1.0      NaN      3.0         0
13   36.0    3.0      1.0      2.0         0
14   60.0    2.0      1.0      2.0         0
15   54.0    1.0      1.0      3.0         0
16   52.0    3.0      4.0      3.0         0
17   59.0    2.0      1.0      3.0         1
18   54.0    1.0      1.0      3.0         1
19   40.0    1.0      NaN      NaN         0
20   66.0    NaN      NaN      1.0         1
21   56.0    4.0      3.0      1.0         1
22   43.0    1.0      NaN      NaN         0
23   42.0    4.0      4.0      3.0         1
24   59.0    2.0      4.0      3.0         1
25   75.0    4.0      5.0      3.0         1
26   66.0    1.0      1.0      NaN         0
27   63.0    3.0      NaN      3.0         0
28   45.0    4.0      5.0      3.0         1
29   55.0    4.0      4.0      3.0         0
..    ...    ...      ...      ...       ...
931  57.0    4.0      3.0      3.0         1
932  55.0    2.0      1.0      2.0         0
933  62.0    2.0      1.0      3.0         0
934  54.0    1.0      1.0      3.0         0
935  71.0    1.0      1.0      3.0         1
936  65.0    3.0      3.0      3.0         0
937  68.0    4.0      4.0      3.0         0
938  64.0    1.0      1.0      3.0         0
939  54.0    2.0      4.0      3.0         0
940  48.0    4.0      4.0      3.0         1
941  58.0    4.0      3.0      3.0         0
942  58.0    3.0      4.0      3.0         1
943  70.0    1.0      1.0      1.0         0
944  70.0    1.0      4.0      3.0         1
945  59.0    2.0      1.0      3.0         0
946  57.0    2.0      4.0      3.0         0
947  53.0    4.0      5.0      3.0         0
948  54.0    4.0      4.0      3.0         1
949  53.0    2.0      1.0      3.0         0
950  71.0    4.0      4.0      3.0         1
951  67.0    4.0      5.0      3.0         1
952  68.0    4.0      4.0      3.0         1
953  56.0    2.0      4.0      3.0         0
954  35.0    2.0      1.0      3.0         0
955  52.0    4.0      4.0      3.0         1
956  47.0    2.0      1.0      3.0         0
957  56.0    4.0      5.0      3.0         1
958  64.0    4.0      5.0      3.0         0
959  66.0    4.0      5.0      3.0         1
960  62.0    3.0      3.0      3.0         0

[961 rows x 5 columns]

In [9]:
d.dropna(inplace=True)

In [10]:
d.describe()

          BI_RADS         Age       Shape     Margine     Density    Severity
count  830.000000  830.000000  830.000000  830.000000  830.000000  830.000000
mean     4.393976   55.781928    2.781928    2.813253    2.915663    0.485542
std      1.888371   14.671782    1.242361    1.567175    0.350936    0.500092
min      0.000000   18.000000    1.000000    1.000000    1.000000    0.000000
25%      4.000000   46.000000    2.000000    1.000000    3.000000    0.000000
50%      4.000000   57.000000    3.000000    3.000000    3.000000    0.000000
75%      5.000000   66.000000    4.000000    4.000000    3.000000    1.000000
max     55.000000   96.000000    4.000000    5.000000    4.000000    1.000000

In [11]:
import pandas as pd
import numpy as np
d.drop(columns=['BI_RADS'])
corr= d.corr()
corr.style.background_gradient(cmap='coolwarm')

In [15]:
from sklearn import preprocessing
import numpy as np
d_scaled = preprocessing.scale(d)

C:\Users\vasis\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by the scale function.
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
d.describe()

          BI_RADS         Age       Shape     Margine     Density    Severity
count  830.000000  830.000000  830.000000  830.000000  830.000000  830.000000
mean     4.393976   55.781928    2.781928    2.813253    2.915663    0.485542
std      1.888371   14.671782    1.242361    1.567175    0.350936    0.500092
min      0.000000   18.000000    1.000000    1.000000    1.000000    0.000000
25%      4.000000   46.000000    2.000000    1.000000    3.000000    0.000000
50%      4.000000   57.000000    3.000000    3.000000    3.000000    0.000000
75%      5.000000   66.000000    4.000000    4.000000    3.000000    1.000000
max     55.000000   96.000000    4.000000    5.000000    4.000000    1.000000

In [18]:
x=d.drop(columns=['BI_RADS','Severity'])

In [19]:
x.head()

     Age  Shape  Margine  Density
0   67.0    3.0      5.0      3.0
2   58.0    4.0      5.0      3.0
3   28.0    1.0      1.0      3.0
8   57.0    1.0      5.0      3.0
10  76.0    1.0      4.0      3.0

In [20]:
y=d.drop(columns=['BI_RADS','Age','Shape','Margine','Density'])

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [23]:
x_test.head()

      Age  Shape  Margine  Density
786  44.0    2.0      1.0      2.0
872  41.0    4.0      4.0      3.0
941  58.0    4.0      3.0      3.0
929  22.0    1.0      1.0      3.0
355  36.0    2.0      1.0      3.0

In [24]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)

In [25]:
y_pred=clf.predict(x_test)

In [26]:
from sklearn.metrics import classification_report,accuracy_score

In [27]:
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n           0       0.80      0.67      0.73       117\n           1       0.65      0.78      0.71        91\n\n   micro avg       0.72      0.72      0.72       208\n   macro avg       0.72      0.72      0.72       208\nweighted avg       0.73      0.72      0.72       208\n'

In [114]:
from sklearn import svm
clf1 = svm.SVC(gamma='scale')
clf1.fit(x_train,y_train)

C:\Users\vasis\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [115]:
y_pred2=clf1.predict(x_test)

In [118]:
clf1.support_vectors_

array([[67.,  4.,  4.,  3.],
       [57.,  4.,  3.,  3.],
       [64.,  1.,  1.,  3.],
       ...,
       [61.,  3.,  4.,  3.],
       [37.,  4.,  4.,  3.],
       [50.,  4.,  3.,  3.]])

In [146]:
print(classification_report(y_test,y_pred2))

              precision    recall  f1-score   support

           0       0.83      0.81      0.82       108
           1       0.80      0.82      0.81       100

   micro avg       0.81      0.81      0.81       208
   macro avg       0.81      0.81      0.81       208
weighted avg       0.81      0.81      0.81       208

In [143]:
from sklearn.neighbors import KNeighborsClassifier
clf2 = KNeighborsClassifier(n_neighbors=10)
clf2.fit(x_train,y_train)
y_pred3=clf2.predict(x_test)

C:\Users\vasis\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [145]:
print(classification_report(y_test,y_pred3))

              precision    recall  f1-score   support

           0       0.78      0.81      0.80       108
           1       0.79      0.75      0.77       100

   micro avg       0.78      0.78      0.78       208
   macro avg       0.78      0.78      0.78       208
weighted avg       0.78      0.78      0.78       208

In [147]:
import seaborn as sns
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [173]:
classifier=Sequential()
classifier.add(Dense(4,activation='relu',input_dim=4))
classifier.add(Dense(1,activation='sigmoid'))
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=["accuracy"])

In [174]:
classifier.fit(x_train,y_train,batch_size=100,epochs=10)

Epoch 1/10
622/622 [==============================] - 1s 1ms/step - loss: 8.0335 - acc: 0.4871
Epoch 2/10
622/622 [==============================] - 0s 32us/step - loss: 8.0162 - acc: 0.4871
Epoch 3/10
622/622 [==============================] - 0s 39us/step - loss: 7.9991 - acc: 0.4871
Epoch 4/10
622/622 [==============================] - 0s 32us/step - loss: 7.9759 - acc: 0.4871
Epoch 5/10
622/622 [==============================] - 0s 39us/step - loss: 7.9538 - acc: 0.4871
Epoch 6/10
622/622 [==============================] - 0s 32us/step - loss: 7.9187 - acc: 0.4871
Epoch 7/10
622/622 [==============================] - 0s 39us/step - loss: 7.8862 - acc: 0.4871
Epoch 8/10
622/622 [==============================] - 0s 39us/step - loss: 7.8487 - acc: 0.4871
Epoch 9/10
622/622 [==============================] - 0s 39us/step - loss: 7.8016 - acc: 0.4871
Epoch 10/10
622/622 [==============================] - 0s 39us/step - loss: 7.7422 - acc: 0.4871